.page{
  background-color: #e1f5fe;
}

.home{
  background-image: url(../images/beach.jpg);
  background-size: cover;
}

.col-lg{
  margin: 5px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}

.bottom{
  margin-bottom: 35px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #01579b;
  color: white;
  text-align: center;
}

p{
  text-align: center;
}

.col{
  margin: auto;
}

h1, h2{
  text-align: center;
}

.center{
  text-align: center;
}

.dark{
  background-color: #7DD3D8 !important;
  color: white;
}

.home_font{
  font-variant: small-caps;
  font-size: 20px !important;
  font-weight: 600;
}

.home_light{
  font-variant: small-caps;
  font-size: 20px !important;
  font-weight: lighter;
}


.non_nav_link{
  color: lightblue;
}

.non_nav_link:hover{
  color: pink;
}

.non_nav_link:active{
  color: orange;
}

.portfolio {
  display: grid;
  grid-template: auto auto auto auto auto / 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 10px;
  padding-bottom: 15px;
}

.image img {
  width: 100%;
  border-radius: 10px;
}

.button:link, .button:visited{
  display: block;
  color: #FFF;
  background-color: #5995DA;    /* Blue */
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;    /* Dark gray */
  border-radius: 5px;

  width: 200px;
  margin: 20px auto;
}

.button:hover,
.button:visited:hover {
  color: #FFF;
  background-color: #76AEED;  /* Light blue */
}
.button:active,
.button:visited:active {
  color: #FFF;
  background-color: #5995DA;  /* Blue */
}
